# Data Understanding
## cities.csv

In [2]:
# Import pandas library
import pandas as pd
cities = pd.read_csv("https://raw.githubusercontent.com/E-man85/projectII/main/rawData/cities.csv")
# Dimensions 
cities.shape

(63, 6)

## Overview

In [3]:
# Global Information
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      63 non-null     object
 1   storetype_id  63 non-null     object
 2   store_size    63 non-null     int64
 3   city_id_old   63 non-null     object
 4   country_id    63 non-null     object
 5   city_code     63 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.1+ KB

In [13]:
# Duplicate rows
cities.duplicated().any()

 False

### Column store_id

In [16]:
# Missing Values
print(cities['store_id'].isnull().any())
# Duplicate rows
print(cities['store_id'].duplicated().any())
# Unique values
print(cities['store_id'].nunique())
# Statistics
print(cities['store_id'].describe())

False
63
count        63
unique       63
top       S0036
freq          1
Name: store_id, dtype: object

### Column storetype_id

In [17]:
# Missing Values
print(cities['storetype_id'].isnull().any())
# Duplicate rows
print(cities['storetype_id'].duplicated().any())
# Unique values
print(cities['storetype_id'].nunique())
# Statistics 
print(cities['storetype_id'].describe())

False
True
4
count       63
unique       4
top       ST04
freq        40
Name: storetype_id, dtype: object

### Column store_size

In [18]:
# Missing Values
print(cities['store_size'].isnull().any())
# Duplicate rows
print(cities['store_size'].duplicated().any())
# Unique values
print(cities['store_size'].nunique())
# Statistics 
print(cities['store_size'].describe())

False
True
32
count    63.000000
mean     24.809524
std      12.611895
min       8.000000
25%      15.500000
50%      20.000000
75%      31.500000
max      63.000000
Name: store_size, dtype: float64

### Column city_id_old

In [19]:
# Missing Values
print(cities['city_id_old'].isnull().any())
# Duplicate rows
print(cities['city_id_old'].duplicated().any())
# Unique values
print(cities['city_id_old'].nunique())
# Statistics 
print(cities['city_id_old'].describe())

False
True
19
count       63
unique      19
top       C014
freq        32
Name: city_id_old, dtype: object

### Column country_id

In [20]:
# Missing Values
print(cities['country_id'].isnull().any())
# Duplicate rows
print(cities['country_id'].duplicated().any())
# Unique values
print(cities['country_id'].nunique())
# Statistics  
print(cities['country_id'].describe())

False
True
1
count         63
unique         1
top       TURKEY
freq          63
Name: country_id, dtype: object

### Column city_code

In [21]:
# Missing Values
print(cities['city_code'].isnull().any())
# Duplicate rows
print(cities['city_code'].duplicated().any())
# Unique values
print(cities['city_code'].nunique())
# Statistics 
print(cities['city_code'].describe())

False
True
19
count           63
unique          19
top       Istanbul
freq            32
Name: city_code, dtype: object

## Sample

In [23]:
# First Rows
cities.head(10)

  store_id storetype_id  store_size city_id_old country_id city_code
0    S0036         ST04          21        C001     TURKEY   Denizli
1    S0005         ST04          19        C001     TURKEY   Denizli
2    S0104         ST04          47        C002     TURKEY    Ankara
3    S0068         ST03          14        C003     TURKEY     ?zmir
4    S0086         ST03          12        C003     TURKEY     ?zmir
5    S0038         ST01          63        C004     TURKEY     Bursa
6    S0012         ST04          28        C005     TURKEY   Antalya
7    S0141         ST03          12        C005     TURKEY   Antalya
8    S0092         ST04          23        C005     TURKEY   Antalya
9    S0136         ST03          12        C005     TURKEY   Antalya

In [24]:
# Last Rows
cities.tail(10)

   store_id storetype_id  store_size city_id_old country_id      city_code
53    S0143         ST03          13        C014     TURKEY       Istanbul
54    S0039         ST03          15        C014     TURKEY       Istanbul
55    S0050         ST04          31        C014     TURKEY       Istanbul
56    S0056         ST04          42        C015     TURKEY      Eski?ehir
57    S0108         ST04          35        C016     TURKEY      Adapazar?
58    S0040         ST04          42        C017     TURKEY  Kahramanmaras
59    S0046         ST04          26        C017     TURKEY  Kahramanmaras
60    S0102         ST04          27        C018     TURKEY        Erzurum
61    S0032         ST03          14        C019     TURKEY            Van
62    S0061         ST04          35        C019     TURKEY            Van