# Data Understanding
## product.csv

In [1]:
# Import pandas library
import pandas as pd
product = pd.read_csv("https://raw.githubusercontent.com/E-man85/projectII/main/rawData/product.csv")
# Dimensions 
product.shape

(699, 10)

## Overview

In [2]:
# Global Information
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      699 non-null    object
 1   product_length  681 non-null    float64
 2   product_depth   683 non-null    float64
 3   product_width   683 non-null    float64
 4   cluster_id      649 non-null    object
 5   hierarchy1_id   699 non-null    object
 6   hierarchy2_id   699 non-null    object
 7   hierarchy3_id   699 non-null    object
 8   hierarchy4_id   699 non-null    object
 9   hierarchy5_id   699 non-null    object
dtypes: float64(3), object(7)
memory usage: 54.7+ KB

In [4]:
# Duplicate rows
product.duplicated().any()

False

### Column product_id

In [5]:
# Duplicate rows
print(product['product_id'].duplicated().any())
# Unique values
print(product['product_id'].nunique())
# Statistics
print(product['product_id'].describe())

False
699
count       699
unique      699
top       P0000
freq          1
Name: product_id, dtype: object

### Column product_length

In [6]:
# Missing Values
print(product['product_depth'].isnull().any())
# Duplicate rows
print(product['product_length'].duplicated().any())
# Unique values
print(product['product_length'].nunique())
# Statistics 
print(product['product_length'].describe())

True
True
123
count    681.000000
mean       7.232305
std        8.512507
min        0.000000
25%        3.000000
50%        5.000000
75%        8.000000
max      100.000000
Name: product_length, dtype: float64

### Column product_width

In [7]:
# Missing Values
print(product['product_width'].isnull().any())
# Duplicate rows
print(product['product_width'].duplicated().any())
# Unique values
print(product['product_width'].nunique())
# Statistics 
print(product['product_width'].describe())

True
True
144
count    683.000000
mean      13.454758
std       10.137132
min        0.000000
25%        7.450000
50%       10.800000
75%       16.000000
max      100.000000
Name: product_width, dtype: float64

### Column cluster_id

In [8]:
# Missing Values
print(product['cluster_id'].isnull().any())
# Duplicate rows
print(product['cluster_id'].duplicated().any())
# Unique values
print(product['cluster_id'].nunique())
# Statistics
print(product['cluster_id'].describe())

True
True
10
count           649
unique           10
top       cluster_0
freq            450
Name: cluster_id, dtype: object

### Column hierarchy1_id

In [9]:
# Missing Values
print(product['hierarchy1_id'].isnull().any())
# Duplicate rows
print(product['hierarchy1_id'].duplicated().any())
# Unique values
print(product['hierarchy1_id'].nunique())
# Statistics  
print(product['hierarchy1_id'].describe())

False
True
4
count     699
unique      4
top       H03
freq      292
Name: hierarchy1_id, dtype: object

### Column hierarchy2_id

In [10]:
# Missing Values
print(product['hierarchy2_id'].isnull().any())
# Duplicate rows
print(product['hierarchy2_id'].duplicated().any())
# Unique values
print(product['hierarchy2_id'].nunique())
# Statistics 
print(product['hierarchy2_id'].describe())

False
True
18
count       699
unique       18
top       H0313
freq        101
Name: hierarchy2_id, dtype: object

### Column hierarchy3_id

In [11]:
# Missing Values
print(product['hierarchy3_id'].isnull().any())
# Duplicate rows
print(product['hierarchy3_id'].duplicated().any())
# Unique values
print(product['hierarchy3_id'].nunique())
# Statistics  
print(product['hierarchy3_id'].describe())

False
True
79
count         699
unique         79
top       H031302
freq           39
Name: hierarchy3_id, dtype: object

### Column hierarchy4_id

In [12]:
# Missing Values
print(product['hierarchy4_id'].isnull().any())
# Duplicate rows
print(product['hierarchy4_id'].duplicated().any())
# Unique values
print(product['hierarchy4_id'].nunique())
# Statistics  
print(product['hierarchy4_id'].describe())

False
True
168
count           699
unique          168
top       H00031200
freq             18
Name: hierarchy4_id, dtype: object

### Column hierarchy5_id

In [13]:
# Missing Values
print(product['hierarchy5_id'].isnull().any())
# Duplicate rows
print(product['hierarchy5_id'].duplicated().any())
# Unique values
print(product['hierarchy5_id'].nunique())
# Statistics
print(product['hierarchy5_id'].describe())

False
True
373
count             699
unique            373
top       H0313020501
freq                8
Name: hierarchy5_id, dtype: object

## Sample

In [15]:
# First Rows
product.head(10)

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
0,P0000,5.0,20.0,12.0,NaN,H00,H0004,H000401,H00040105,H0004010534
1,P0001,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
2,P0002,22.0,40.0,22.0,cluster_0,H03,H0315,H031508,H03150800,H0315080028
3,P0004,2.0,13.0,4.0,cluster_3,H03,H0314,H031405,H03140500,H0314050003
4,P0005,16.0,30.0,16.0,cluster_9,H03,H0312,H031211,H03121109,H0312110917
5,P0006,8.5,15.0,15.0,cluster_0,H03,H0316,H031608,H03160817,H0316081708
6,P0007,2.0,22.0,9.5,cluster_4,H03,H0313,H031305,H03130519,H0313051904
7,P0008,5.0,16.0,5.0,cluster_0,H00,H0000,H000004,H00000400,H0000040017
8,P0009,5.0,18.0,14.0,cluster_6,H00,H0002,H000201,H00020100,H0002010012
9,P0010,2.0,22.0,3.0,cluster_0,H01,H0108,H010801,H01080109,H0108010917

In [14]:
# Last Rows
product.tail(10)

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
689,P0738,3.5,8.5,3.5,cluster_0,H01,H0108,H010808,H01080814,H0108081412
690,P0739,8.5,9.0,8.5,cluster_3,H03,H0312,H031208,H03120817,H0312081713
691,P0740,1.0,20.0,10.0,cluster_0,H03,H0313,H031305,H03130518,H0313051828
692,P0741,3.8,16.4,9.5,cluster_0,H01,H0106,H010600,H01060013,H0106001345
693,P0742,6.4,7.0,6.4,cluster_0,H01,H0108,H010811,H01081100,H0108110038
694,P0744,2.0,7.0,7.0,NaN,H03,H0311,H031108,H03110802,H0311080202
695,P0745,NaN,NaN,NaN,cluster_0,H02,H0209,H020908,H02090804,H0209080422
696,P0746,1.0,1.0,1.0,cluster_0,H03,H0314,H031407,H03140702,H0314070202
697,P0747,23.0,23.0,33.3,cluster_0,H01,H0107,H010701,H01070100,H0107010026
698,P0748,3.8,4.8,15.3,cluster_0,H01,H0108,H010801,H01080110,H0108011006