# Data Exploration
## product.csv

In [2]:
#importar biblioteca pandas
import pandas as pd
product = pd.read_csv("https://raw.githubusercontent.com/E-man85/projectII/main/raw_data/product.csv?token=GHSAT0AAAAAACBQIYY4CRR7WASP6M5C5PNGZEQS5BQ")
#dimensões do ficheiro
product.shape

(699, 10)

In [3]:
#Informação sobre as colunas e tipo de dados
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      699 non-null    object
 1   product_length  681 non-null    float64
 2   product_depth   683 non-null    float64
 3   product_width   683 non-null    float64
 4   cluster_id      649 non-null    object
 5   hierarchy1_id   699 non-null    object
 6   hierarchy2_id   699 non-null    object
 7   hierarchy3_id   699 non-null    object
 8   hierarchy4_id   699 non-null    object
 9   hierarchy5_id   699 non-null    object
dtypes: float64(3), object(7)
memory usage: 54.7+ KB

In [4]:
# Verificar a existência de linhas duplicadas
print(product.duplicated().any())

False

In [5]:
# Ver 5 linhas do ficheiro
product.head()

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
0,P0000,5.0,20.0,12.0,NaN,H00,H0004,H000401,H00040105,H0004010534
1,P0001,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
2,P0002,22.0,40.0,22.0,cluster_0,H03,H0315,H031508,H03150800,H0315080028
3,P0004,2.0,13.0,4.0,cluster_3,H03,H0314,H031405,H03140500,H0314050003
4,P0005,16.0,30.0,16.0,cluster_9,H03,H0312,H031211,H03121109,H0312110917

### Column product_id

In [6]:
# Coluna product_id duplicados
print(product['product_id'].duplicated().any())
# contar produtos únicos
print(product['product_id'].nunique())
# Ver 10 registos aleatórios
product['product_id'].sample(10)

False
699

165    P0175
243    P0258
46     P0048
676    P0724
631    P0675
228    P0241
669    P0715
138    P0146
532    P0569
672    P0719
Name: product_id, dtype: object

### Column product_length

In [7]:
#Valores em falta
print(product['product_depth'].isnull().any())
# Valores duplicados
print(product['product_length'].duplicated().any())
# contar produtos únicos
print(product['product_length'].nunique())
# ver estatisticas 
print(product['product_length'].describe())
# Ver 10 registos aleatórios
product['product_length'].sample(10)

True
True
123
count    681.000000
mean       7.232305
std        8.512507
min        0.000000
25%        3.000000
50%        5.000000
75%        8.000000
max      100.000000
Name: product_length, dtype: float64

313    11.0
24     33.0
199    14.0
694     2.0
320     NaN
345     6.2
224    24.0
37     11.5
658     6.0
671     5.0
Name: product_length, dtype: float64

In [8]:
# Ver registos null
product[product['product_depth'].isnull()]

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
30,P0031,NaN,NaN,NaN,cluster_0,H00,H0004,H000402,H00040212,H0004021202
59,P0062,NaN,NaN,NaN,cluster_0,H03,H0312,H031205,H03120507,H0312050709
146,P0155,NaN,NaN,NaN,cluster_0,H00,H0004,H000402,H00040212,H0004021201
166,P0176,NaN,NaN,NaN,cluster_9,H02,H0210,H021002,H02100200,H0210020008
202,P0214,NaN,NaN,NaN,cluster_0,H03,H0313,H031305,H03130520,H0313052002
244,P0259,NaN,NaN,NaN,cluster_9,H00,H0004,H000402,H00040212,H0004021202
280,P0298,NaN,NaN,NaN,cluster_9,H02,H0210,H021002,H02100200,H0210020008
320,P0344,NaN,NaN,NaN,cluster_0,H02,H0209,H020908,H02090804,H0209080429
395,P0423,NaN,NaN,NaN,cluster_0,H03,H0313,H031305,H03130520,H0313052008
435,P0465,NaN,NaN,NaN,cluster_0,H03,H0313,H031305,H03130520,H0313052008
450,P0482,NaN,NaN,NaN,cluster_0,H00,H0004,H000402,H00040212,H0004021201
589,P0630,NaN,NaN,NaN,cluster_9,H02,H0210,H021002,H02100203,H0210020304
664,P0710,NaN,NaN,NaN,cluster_0,H03,H0313,H031305,H03130520,H0313052008
677,P0725,NaN,NaN,NaN,cluster_0,H00,H0004,H000402,H00040212,H0004021202
679,P0727,NaN,NaN,NaN,NaN,H02,H0209,H020900,H02090000,H0209000001
695,P0745,NaN,NaN,NaN,cluster_0,H02,H0209,H020908,H02090804,H0209080422

### Column product_width

In [9]:
#Valores em falta
print(product['product_width'].isnull().any())
# Valores duplicados
print(product['product_width'].duplicated().any())
# contar produtos únicos
print(product['product_width'].nunique())
# ver estatisticas 
print(product['product_width'].describe())
# Ver 10 registos aleatórios
product['product_width'].sample(10)

True
True
144
count    683.000000
mean      13.454758
std       10.137132
min        0.000000
25%        7.450000
50%       10.800000
75%       16.000000
max      100.000000
Name: product_width, dtype: float64

62     32.0
697    33.3
411     5.0
181    40.0
398     8.0
70     30.0
56     13.2
260     7.5
485    10.5
173    11.0
Name: product_width, dtype: float64

### Column cluster_id

In [10]:
#Valores em falta
print(product['cluster_id'].isnull().any())
# Valores duplicados
print(product['cluster_id'].duplicated().any())
# contar produtos únicos
print(product['cluster_id'].nunique())
# ver estatisticas 
print(product['cluster_id'].describe())
# Ver 10 registos aleatórios
product['cluster_id'].sample(10)

True
True
10
count           649
unique           10
top       cluster_0
freq            450
Name: cluster_id, dtype: object

564    cluster_0
106    cluster_0
520    cluster_0
437    cluster_0
452    cluster_0
121    cluster_0
549    cluster_0
173    cluster_0
95     cluster_0
246    cluster_0
Name: cluster_id, dtype: object

In [11]:
# frequencias de cluster_id
product.groupby(['cluster_id']).size().sort_values(ascending=False)

cluster_id
cluster_0    450
cluster_9     51
cluster_4     36
cluster_3     31
cluster_6     28
cluster_8     14
cluster_5     13
cluster_2     12
cluster_7     10
cluster_1      4
dtype: int64

In [12]:
# ver NAN
product[product['cluster_id'].isnull()]

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
0,P0000,5.0,20.0,12.0,NaN,H00,H0004,H000401,H00040105,H0004010534
12,P0013,7.1,27.5,13.7,NaN,H01,H0105,H010503,H01050309,H0105030906
22,P0023,1.0,1.0,1.0,NaN,H00,H0004,H000403,H00040305,H0004030536
38,P0040,7.0,26.5,7.0,NaN,H03,H0312,H031204,H03120400,H0312040000
53,P0056,NaN,12.0,10.0,NaN,H03,H0314,H031401,H03140102,H0314010203
71,P0074,9.0,6.0,9.0,NaN,H00,H0004,H000402,H00040212,H0004021202
82,P0086,39.0,34.0,49.0,NaN,H03,H0315,H031508,H03150800,H0315080029
112,P0118,5.0,28.0,16.0,NaN,H03,H0311,H031109,H03110900,H0311090001
115,P0123,5.5,22.5,19.0,NaN,H03,H0313,H031302,H03130210,H0313021002
125,P0133,9.0,28.0,20.0,NaN,H03,H0313,H031303,H03130302,H0313030201
131,P0139,4.0,17.0,11.0,NaN,H03,H0315,H031506,H03150612,H0315061202
188,P0199,15.0,24.9,9.3,NaN,H00,H0001,H000104,H00010413,H0001041317
189,P0200,4.0,13.5,9.0,NaN,H01,H0105,H010503,H01050309,H0105030901
218,P0230,2.0,36.0,19.5,NaN,H01,H0107,H010701,H01070109,H0107010906
223,P0235,15.0,31.2,11.8,NaN,H00,H0001,H000104,H00010413,H0001041317
235,P0250,4.0,16.3,10.8,NaN,H01,H0106,H010600,H01060013,H0106001333
238,P0253,4.0,20.0,6.0,NaN,H01,H0108,H010807,H01080710,H0108071022
274,P0292,8.8,15.1,8.8,NaN,H00,H0002,H000201,H00020110,H0002011006
285,P0303,6.0,17.0,10.0,NaN,H00,H0001,H000102,H00010210,H0001021017
297,P0319,7.5,21.1,4.3,NaN,H01,H0108,H010807,H01080710,H0108071032
300,P0323,6.0,32.5,23.0,NaN,H03,H0313,H031302,H03130205,H0313020501
311,P0334,6.0,20.0,6.0,NaN,H00,H0000,H000004,H00000400,H0000040012
332,P0357,1.0,1.0,1.0,NaN,H01,H0108,H010803,H01080311,H0108031101
339,P0365,8.0,14.0,40.5,NaN,H01,H0106,H010601,H01060112,H0106011209
341,P0367,3.0,26.5,17.0,NaN,H03,H0311,H031110,H03111006,H0311100603
342,P0368,2.5,11.5,11.5,NaN,H03,H0312,H031207,H03120710,H0312071009
353,P0380,2.5,16.4,7.0,NaN,H01,H0106,H010600,H01060013,H0106001345
358,P0385,3.8,15.4,6.6,NaN,H01,H0107,H010702,H01070200,H0107020004
360,P0387,2.0,10.0,8.0,NaN,H01,H0107,H010702,H01070211,H0107021102
374,P0401,2.0,22.0,6.0,NaN,H03,H0315,H031504,H03150411,H0315041131
379,P0407,5.0,28.0,16.0,NaN,H03,H0311,H031108,H03110805,H0311080501
381,P0409,3.0,14.0,6.0,NaN,H00,H0001,H000105,H00010500,H0001050001
382,P0410,16.5,1.0,8.0,NaN,H00,H0004,H000401,H00040105,H0004010501
402,P0430,10.0,10.0,15.0,NaN,H01,H0107,H010702,H01070212,H0107021212
414,P0443,2.0,22.5,9.0,NaN,H03,H0312,H031211,H03121109,H0312110906
418,P0447,6.5,7.0,17.5,NaN,H00,H0003,H000312,H00031200,H0003120003
447,P0478,3.0,17.0,12.5,NaN,H00,H0003,H000311,H00031100,H0003110012
454,P0486,6.5,7.5,12.0,NaN,H00,H0002,H000200,H00020000,H0002000017
486,P0519,1.0,11.0,2.5,NaN,H00,H0002,H000200,H00020009,H0002000917
527,P0564,1.5,9.0,12.0,NaN,H00,H0003,H000315,H00031501,H0003150103
531,P0568,5.0,20.0,30.0,NaN,H02,H0210,H021000,H02100001,H0210000107
542,P0580,4.5,21.8,4.5,NaN,H01,H0108,H010807,H01080709,H0108070901
557,P0596,14.0,2.0,5.0,NaN,H00,H0003,H000312,H00031200,H0003120022
565,P0604,3.5,13.0,8.5,NaN,H00,H0003,H000312,H00031209,H0003120906
568,P0607,8.0,12.0,12.0,NaN,H03,H0311,H031109,H03110900,H0311090001
595,P0636,5.0,5.0,21.5,NaN,H01,H0106,H010601,H01060113,H0106011305
672,P0719,6.0,17.0,6.0,NaN,H00,H0000,H000004,H00000400,H0000040001
675,P0722,5.0,7.0,5.0,NaN,H01,H0107,H010702,H01070210,H0107021003
679,P0727,NaN,NaN,NaN,NaN,H02,H0209,H020900,H02090000,H0209000001
694,P0744,2.0,7.0,7.0,NaN,H03,H0311,H031108,H03110802,H0311080202

### Column hierarchy1_id

In [13]:
#Valores em falta
print(product['hierarchy1_id'].isnull().any())
# Valores duplicados
print(product['hierarchy1_id'].duplicated().any())
# ver estatisticas 
print(product['hierarchy1_id'].describe())
# Ver 10 registos aleatórios
product['hierarchy1_id'].sample(10)

False
True
count     699
unique      4
top       H03
freq      292
Name: hierarchy1_id, dtype: object

39     H03
486    H00
56     H01
626    H01
309    H00
258    H00
267    H00
238    H01
642    H03
612    H03
Name: hierarchy1_id, dtype: object

In [14]:
# frequencias de hierarchy1_id
product.groupby(['hierarchy1_id']).size().sort_values(ascending=False)

hierarchy1_id
H03    292
H00    215
H01    181
H02     11
dtype: int64

### Column hierarchy2_id

In [15]:
#Valores em falta
print(product['hierarchy2_id'].isnull().any())
# Valores duplicados
print(product['hierarchy2_id'].duplicated().any())
# ver estatisticas 
print(product['hierarchy2_id'].describe())
# Ver 10 registos aleatórios
product['hierarchy2_id'].sample(10)

False
True
count       699
unique       18
top       H0313
freq        101
Name: hierarchy2_id, dtype: object

242    H0002
566    H0108
324    H0001
664    H0313
455    H0311
461    H0312
165    H0313
399    H0000
560    H0315
410    H0313
Name: hierarchy2_id, dtype: object

In [16]:
# frequencias de hierarchy2_id
product.groupby(['hierarchy2_id']).size().sort_values(ascending=False)

hierarchy2_id
H0313    101
H0108     96
H0312     61
H0002     54
H0003     53
H0311     51
H0315     40
H0107     40
H0004     38
H0001     38
H0000     32
H0106     28
H0314     28
H0105     17
H0210      7
H0317      6
H0316      5
H0209      4
dtype: int64

### Column hierarchy3_id

In [17]:
#Valores em falta
print(product['hierarchy3_id'].isnull().any())
# Valores duplicados
print(product['hierarchy3_id'].duplicated().any())
# ver estatisticas 
print(product['hierarchy3_id'].describe())
# Ver 10 registos aleatórios
product['hierarchy3_id'].sample(10)

False
True
count         699
unique         79
top       H031302
freq           39
Name: hierarchy3_id, dtype: object

402    H010702
482    H031508
404    H031209
288    H010702
64     H010600
237    H031302
534    H031302
634    H010805
196    H031302
215    H031307
Name: hierarchy3_id, dtype: object

In [18]:
# frequencias de hierarchy3_id
product.groupby(['hierarchy3_id']).size().sort_values(ascending=False)

hierarchy3_id
H031302    39
H010807    28
H031305    27
H010702    26
H031109    23
           ..
H000100     2
H031512     2
H021000     2
H031403     1
H031208     1
Length: 79, dtype: int64

### Column hierarchy4_id

In [19]:
#Valores em falta
print(product['hierarchy4_id'].isnull().any())
# Valores duplicados
print(product['hierarchy4_id'].duplicated().any())
# ver estatisticas 
print(product['hierarchy4_id'].describe())
# Ver 10 registos aleatórios
product['hierarchy4_id'].sample(10)

False
True
count           699
unique          168
top       H00031200
freq             18
Name: hierarchy4_id, dtype: object

62     H03130209
412    H00020200
415    H03130209
667    H00040000
466    H00031200
222    H03130205
181    H03150800
518    H03130205
634    H01080509
694    H03110802
Name: hierarchy4_id, dtype: object

In [20]:
# frequencias de hierarchy4_id
product.groupby(['hierarchy4_id']).size().sort_values(ascending=False)

hierarchy4_id
H00031200    18
H03120710    18
H00040105    15
H03110900    14
H00010210    13
             ..
H00020205     1
H00020105     1
H03130500     1
H00020109     1
H01080615     1
Length: 168, dtype: int64

### Column hierarchy5_id

In [21]:
#Valores em falta
print(product['hierarchy5_id'].isnull().any())
# Valores duplicados
print(product['hierarchy5_id'].duplicated().any())
# ver estatisticas 
print(product['hierarchy5_id'].describe())
# Ver 10 registos aleatórios
product['hierarchy5_id'].sample(10)

False
True
count             699
unique            373
top       H0313020501
freq                8
Name: hierarchy5_id, dtype: object

478    H0106011303
233    H0313030301
214    H0107021003
194    H0315020002
689    H0108081412
391    H0312071004
566    H0108110043
120    H0312071013
103    H0107000922
165    H0313090044
Name: hierarchy5_id, dtype: object

In [22]:
# frequencias de hierarchy5_id
product.groupby(['hierarchy5_id']).size().sort_values(ascending=False)

hierarchy5_id
H0313020501    8
H0108071032    7
H0001021017    7
H0003120001    6
H0311090003    6
              ..
H0108061317    1
H0108061501    1
H0108070032    1
H0108070033    1
H0317021509    1
Length: 373, dtype: int64

In [23]:
product.head()

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
0,P0000,5.0,20.0,12.0,NaN,H00,H0004,H000401,H00040105,H0004010534
1,P0001,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
2,P0002,22.0,40.0,22.0,cluster_0,H03,H0315,H031508,H03150800,H0315080028
3,P0004,2.0,13.0,4.0,cluster_3,H03,H0314,H031405,H03140500,H0314050003
4,P0005,16.0,30.0,16.0,cluster_9,H03,H0312,H031211,H03121109,H0312110917