# Data Preparation Forecast Stores Revenue

In [1]:
# Importar biblioteca
import pandas as pd
# Carregar a flatTable
flatTable = pd.read_csv(r"C:\Users\Egomes\Desktop\PG_Analytics_Data_science_empresarial\Isla_gaia\14-ProjetoII\projetoII\dataStaging\flatTable.csv",\
                        dtype={'promo_bin_2': str, 'promo_discount_type_2': str})    
flatTable.shape

(8886058, 28)

In [2]:
# ver info
flatTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8886058 entries, 0 to 8886057
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   store_id               object
 2   product_id             object
 3   date                   object
 4   sales                  float64
 5   revenue                float64
 6   stock                  float64
 7   price                  float64
 8   promo_type_1           object
 9   promo_bin_1            object
 10  promo_type_2           object
 11  promo_bin_2            object
 12  promo_discount_2       float64
 13  promo_discount_type_2  object
 14  product_length         float64
 15  product_depth          float64
 16  product_width          float64
 17  cluster_id             object
 18  hierarchy1_id          object
 19  hierarchy2_id          object
 20  hierarchy3_id          object
 21  hierarchy4_id          object
 22  hierarchy5_id          object
 23  storetype_id           object
 24  store_size             int64
 25  city_id_old            object
 26  country_id             object
 27  city_code              object
dtypes: float64(8), int64(2), object(18)
memory usage: 1.9+ GB

In [3]:
# Ver colunas
flatTable.columns

Index(['Unnamed: 0', 'store_id', 'product_id', 'date', 'sales', 'revenue',
       'stock', 'price', 'promo_type_1', 'promo_bin_1', 'promo_type_2',
       'promo_bin_2', 'promo_discount_2', 'promo_discount_type_2',
       'product_length', 'product_depth', 'product_width', 'cluster_id',
       'hierarchy1_id', 'hierarchy2_id', 'hierarchy3_id', 'hierarchy4_id',
       'hierarchy5_id', 'storetype_id', 'store_size', 'city_id_old',
       'country_id', 'city_code'],
      dtype='object')

In [4]:
# Renomear colunas
flatTable1 = flatTable.copy()
flatTable1 =flatTable.rename(columns={'Unnamed: 0': 'id'}) 
# ver alterações
flatTable1.columns

Index(['id', 'store_id', 'product_id', 'date', 'sales', 'revenue', 'stock',
       'price', 'promo_type_1', 'promo_bin_1', 'promo_type_2', 'promo_bin_2',
       'promo_discount_2', 'promo_discount_type_2', 'product_length',
       'product_depth', 'product_width', 'cluster_id', 'hierarchy1_id',
       'hierarchy2_id', 'hierarchy3_id', 'hierarchy4_id', 'hierarchy5_id',
       'storetype_id', 'store_size', 'city_id_old', 'country_id', 'city_code'],
      dtype='object')

In [5]:
# Verificar NAN das colunas
flatTable1.isna().any()

id                       False
store_id                 False
product_id               False
date                     False
sales                     True
revenue                   True
stock                     True
price                     True
promo_type_1             False
promo_bin_1               True
promo_type_2             False
promo_bin_2               True
promo_discount_2          True
promo_discount_type_2     True
product_length            True
product_depth             True
product_width             True
cluster_id               False
hierarchy1_id            False
hierarchy2_id            False
hierarchy3_id            False
hierarchy4_id            False
hierarchy5_id            False
storetype_id             False
store_size               False
city_id_old              False
country_id               False
city_code                False
dtype: bool

In [6]:
# Retirar valores nan existentes na coluna sales
flatTable2 = flatTable1.copy()
flatTable2 = flatTable2.dropna(subset=['sales'])
flatTable2.shape

(8583762, 28)

In [8]:
# Verificar NAN das colunas
flatTable2.isna().any()

id                       False
store_id                 False
product_id               False
date                     False
sales                    False
revenue                  False
stock                    False
price                     True
promo_type_1             False
promo_bin_1               True
promo_type_2             False
promo_bin_2               True
promo_discount_2          True
promo_discount_type_2     True
product_length            True
product_depth             True
product_width             True
cluster_id               False
hierarchy1_id            False
hierarchy2_id            False
hierarchy3_id            False
hierarchy4_id            False
hierarchy5_id            False
storetype_id             False
store_size               False
city_id_old              False
country_id               False
city_code                False
dtype: bool

In [9]:
# Seleção de colunas necessária 
flatTable3 = flatTable2.copy()
columns = ['store_id', 'date', 'revenue']
flatTable3 = flatTable3[columns]
flatTable3.shape

(8583762, 3)

In [10]:
# Agrupar dados por date e store_id somando o revenue
flatTable4 = flatTable3.copy()
flatTable4 = flatTable4.groupby(['store_id','date'])['revenue'].sum().reset_index().rename(columns={'revenue': 'summed_revenue'})
# Ver 5 linhas
flatTable4.head()

  store_id        date  summed_revenue
0    S0002  2017-01-02          171.59
1    S0002  2017-01-03          178.10
2    S0002  2017-01-04          303.89
3    S0002  2017-01-05          274.65
4    S0002  2017-01-06          193.81

In [12]:
# criar csv para consulta quando necessário
flatTable4.to_csv(r"C:\Users\Egomes\Desktop\PG_Analytics_Data_science_empresarial\Isla_gaia\14-ProjetoII\projetoII\dataStaging\forecastRevenue.csv", index=False)
print('exportação concluida!')

exportação concluida!